In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from numpy.linalg import inv
import folium
from folium import plugins
%matplotlib inline

In [2]:
water_tank = pd.read_csv('data/Self-Reported_Drinking_Water_Tank_Inspection_Results.csv')
fea = ['BIN','BOROUGH','ZIP','STREET_NAME','BLOCK', 'LOT','CONFIRMATION_NUM','REPORTING_YEAR',\
                              'INSPECTION_DATE','MEET_STANDARDS','LATITUDE','LONGITUDE','BBL']
water_tank_clean = water_tank[fea].dropna()
df_2020_c = water_tank_clean[water_tank_clean.REPORTING_YEAR >= 2020]
df_2020_c = df_2020_c[df_2020_c.MEET_STANDARDS == 'Y']
df_2020_c.index = np.arange(0,len(df_2020_c.index))

In [3]:
restaurant_csv_path = "data/DOHMH_New_York_City_Restaurant_Inspection_Results.csv"
df_insp = pd.read_csv(restaurant_csv_path).copy()
df_insp = df_insp.dropna()
df_insp.index = np.arange(0,len(df_insp.index))

In [4]:
df_2020_c_sorted = df_2020_c.sort_values(by = ['INSPECTION_DATE'])
dup = df_2020_c_sorted.duplicated(subset=['LATITUDE'], keep='first')
ind = [not i for i in dup]
df_2020_c_uni = df_2020_c_sorted[ind].sort_values(by = ['INSPECTION_DATE'])
df_2020_c_uni.index = np.arange(0,len(df_2020_c_uni.index))

In [5]:
df_2020_c_uni

,BIN,BOROUGH,ZIP,STREET_NAME,BLOCK,LOT,CONFIRMATION_NUM,REPORTING_YEAR,INSPECTION_DATE,MEET_STANDARDS,LATITUDE,LONGITUDE,BBL
0,1006576,MANHATTAN,10003,2 AVENUE,459,32,WTI3598210511,2020,01/07/2020,Y,40.725800,-73.989725,1.004590e+09
1,1047704,MANHATTAN,10028,EAST 84 STREET,1513,7501,WTI2532737928,2020,01/09/2020,Y,40.777843,-73.955722,1.015138e+09
2,1036457,MANHATTAN,10022,3 AVENUE,1305,40,WTI3769931101,2020,01/11/2020,Y,40.756216,-73.970496,1.013050e+09
3,1008832,MANHATTAN,10003,UNIVERSITY PLACE,548,1,WTI8814520354,2020,01/15/2020,Y,40.730785,-73.995486,1.005480e+09
4,1034787,MANHATTAN,10019,WEST 54 STREET,1270,8,WTI3756592092,2020,01/15/2020,Y,40.761677,-73.976868,1.012700e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,4113585,QUEENS,11354,Roosevelt Avenue,5020,1,WTI7858784339,2020,12/30/2020,Y,40.760566,-73.826166,4.050200e+09
1948,1056468,MANHATTAN,10025,WEST END AVENUE,1871,61,WTI9765512159,2020,12/30/2020,Y,40.797662,-73.971438,1.018710e+09
1949,1033994,MANHATTAN,10024,RIVERSIDE DRIVE,1249,57,WTI3934339573,2020,12/30/2020,Y,40.791033,-73.979180,1.012490e+09
1950,1072021,MANHATTAN,10065,EAST 66 STREET,1381,7501,WTI4669603070,2020,12/31/2020,Y,40.768521,-73.969505,1.013818e+09
1951,1015778,MANHATTAN,10001,Broadway,832,22,WTI5998304725,2020,12/31/2020,Y,40.746898,-73.988419,1.008320e+09

In [53]:
from geopy.distance import geodesic
df_insp['ClosestWorkingTankDis'] = 0
df_insp['ClosestWorkingTankDate'] = 'NA'
df_insp['ClosestWorkingTankConfirmNum'] = 'NA'

df_insp_Lat = df_insp['Latitude']
df_insp_Long = df_insp['Longitude']
c_shape = df_2020_c_uni.shape[0]
df_2020_c_Lat = df_2020_c_uni['LATITUDE']
df_2020_c_Long = df_2020_c_uni['LONGITUDE']
df_2020_c_Date = df_2020_c_uni['INSPECTION_DATE']
df_2020_c_ConfirmNum = df_2020_c_uni['CONFIRMATION_NUM']

ClosestDis = []
ClosestDate = []
ClosestConfirmNum = []

for i in range(df_insp.shape[0]):
    if(i%10000 == 0):
        print(i)
    loc1 = df_insp_Lat[i], df_insp_Long[i]
    dis = []
    for j in range(c_shape):
        loc2 = (df_2020_c_Lat[j], df_2020_c_Long[j])
        tem_dis = geodesic(loc1, loc2).miles
        dis.append(tem_dis)
    index = np.argmin(dis)
    ClosestDis.append(dis[index])
    ClosestDate.append(df_2020_c_Date[index])
    ClosestConfirmNum.append(df_2020_c_ConfirmNum[index])

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000

In [54]:
df_insp['ClosestWorkingTankDis'] = ClosestDis
df_insp['ClosestWorkingTankDate'] = ClosestDate
df_insp['ClosestWorkingTankConfirmNum'] = ClosestConfirmNum

In [55]:
df_insp['ClosestBadTankDis'] = 0
df_insp['ClosestBadTankDate'] = 'NA'
df_insp['ClosestBadTankConfirmNum'] = 'NA'

df_bad_tank = water_tank_clean[water_tank_clean.MEET_STANDARDS == 'N']
df_bad_tank_sorted = df_bad_tank.sort_values(by = ['INSPECTION_DATE'])
dup_bad = df_bad_tank_sorted.duplicated(subset=['LATITUDE'], keep='first')
ind_bad = [not i for i in dup_bad]
df_bad_tank_uni = df_bad_tank_sorted[ind_bad].sort_values(by = ['INSPECTION_DATE'])
df_bad_tank_uni.index = np.arange(0,len(df_bad_tank_uni.index))

df_insp_Lat = df_insp['Latitude']
df_insp_Long = df_insp['Longitude']
bad_tank_shape = df_bad_tank_uni.shape[0]
df_2020_c_Bad_Lat = df_bad_tank_uni['LATITUDE']
df_2020_c_Bad_Long = df_bad_tank_uni['LONGITUDE']
df_2020_c_Bad_Date = df_bad_tank_uni['INSPECTION_DATE']
df_2020_c_Bad_ConfirmNum = df_bad_tank_uni['CONFIRMATION_NUM']

In [56]:
ClosestBadDis = []
ClosestBadDate = []
ClosestBadConfirmNum = []
for i in range(df_insp.shape[0]):
    loc1 = df_insp_Lat[i], df_insp_Long[i]
    dis = []
    for j in range(bad_tank_shape):
        loc2 = (df_2020_c_Bad_Lat[j], df_2020_c_Bad_Long[j])
        tem_dis = geodesic(loc1, loc2).miles
        dis.append(tem_dis)
    index = np.argmin(dis)
    ClosestBadDis.append(dis[index])
    ClosestBadDate.append(df_2020_c_Bad_Date[index])
    ClosestBadConfirmNum.append(df_2020_c_Bad_ConfirmNum[index])

In [60]:
df_insp['ClosestBadTankDis'] = ClosestBadDis
df_insp['ClosestBadTankDate'] = ClosestBadDate
df_insp['ClosestBadTankConfirmNum'] = ClosestBadConfirmNum

In [61]:
#df_insp.to_csv('df_insp_with_distance-v1.csv')

In [65]:
df_insp.iloc[:,0:-1].to_csv('df_insp_with_distance-v2.csv')